:root {
  --bg-dark: #0a0a0c;
  --panel-bg: rgba(75, 70, 70, 0.03);
  --accent-cyan: #00f2ff;
  --accent-purple: #bc13fe;
  --text-dim: #94a3b8;
}

body {
  margin: 20;
  background-color: var(--bg-dark);
  color: white;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}

